@page "/demo07"
@using System.ComponentModel.DataAnnotations

<EditForm Model="@model">
	<DataAnnotationsValidator />

	<InputNumber @bind-Value="model.Age" ParsingErrorMessage="Fill the correct the age." />
	<button type="submit">Submit</button>
	<ValidationMessage For="() => model.Age" />
</EditForm>

@code {
	private ExampleModel model = new ExampleModel();

	public class ExampleModel
	{
		public int Age { get; set; }
	}
}