@page "/"

<h1>Co je...</h1>

<ul>
	<li><a href="/demo01">Demo 1 - Úvod</a></li>
	<li><a href="/demo02">Demo 2 - Validace</a></li>
	<li><a href="/demo03">Demo 3 - ValidationMessage</a></li>
	<li><a href="/demo04">Demo 4 - HxInputXY &amp; validace</a></li>
	<li><a href="/demo05">Demo 5 - Lokalizace</a></li>
	<li><a href="/demo06">Demo 6 - Custom Validace</a></li>
	<li><a href="/demo07">Demo 7 - Validace vstupu</a></li>
	<li><a href="/demo08">Demo 8 - Validace na vyžádání</a></li>
</ul>

<h1>Co může být...</h1>
<ul>
	<li><a href="/demo09">Demo 9 - Vlastní validace</a></li>
	<li><a href="/demo10">Demo 10 - Zobrazení serverových validací</a></li>
</ul>
